.table {
	display: flex;
	flex-direction: row;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 900px;
	border-radius: 2px;
	height: 40px;
	font-size: 16px;
	font-weight: 600;
	margin: 2px 0;
	padding: 10px;
  background-color: white;
  }

  .row1 {
  width: 18% ;
  border-right: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}
.row2 {
  width: 13% ;
  border-right: 1px solid black;
  padding-left: 5px;
  padding-right: 10px;
  text-align: center;
}
.row3 {
  width: 21% ;
  border-right: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}
.row4 {
  width: 24% ;
  border-right: 0px;
  border-right: 1px solid black;
  padding-right: 10px;
  text-align: center;

}
.row5 {
	width: 21% ;
	border-right: 0px;
	border-right: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  
  }
.row6 {
	width: 14% ;
	border-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  
  }
	.prenomNotEditable {
    padding : 5px;
  }
  .prenomEditable {
    border-bottom: 1px solid grey;
    padding : 5px;
  }
  
  .heureNotEditable {
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;

  }
  .heureEditable {
  border-bottom: 1px solid grey;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;

  }
  .rightBtn {
    font-size :20px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    color: grey;
  }
  
  .edit {
    font-size: 20px;
    margin-left: 3px;
    cursor: pointer;
  
  }
  .calendar {
    font-size: 20px;
    margin-left: 3px;
    cursor: pointer;
  
  }
  .delete {
    font-size: 20px;
    margin-left: 3px;
    cursor: pointer;
  }
  .edit:hover{
    color:black;
  }
  .delete:hover{
    color:black;
  }
  .calendar:hover{
    color:black;
  }
  
  .cp {
    background-color: RGBA(255, 233, 161,0.4);
    backdrop-filter: blur(30px);
  }
  .ce1 {
    background-color: RGBA(255, 224, 121,0.4);
    backdrop-filter: blur(30px);
  }
  .ce2 {
    background-color: RGBA(255, 216, 90,0.4);
    backdrop-filter: blur(30px);
  }
  .cm1 {
    background-color: RGBA(241, 184, 60,0.4);
    backdrop-filter: blur(30px);
  }
  .cm2 {
    background-color: RGBA(226, 151, 29,0.4);
    backdrop-filter: blur(30px);
  }
  .ulyss {
    background-color: RGBA(205, 137, 26,0.4);
    backdrop-filter: blur(30px);
    
  }